@*
*@
@{
    ViewBag.Title = "Restaurant List";
}

@model IEnumerable<BestRestaurants.Models.EnterRestaurant>

<div>
    <h2>Here is the list of restaurants:</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Restaurant Name</th>
                <th>Favorite Dish</th>
                <th>Restaurant Phone #</th>
            </tr>
        </thead>

        <tbody>
            @foreach (BestRestaurants.Models.EnterRestaurant x in Model)
            {
                <tr>
                    <td>@x.Name</td>
                    <td>@x.RestaurantName</td>
                    <td>@x.FavoriteDish</td>
                    <td>@x.Phone</td>                    
                </tr>
            }
        </tbody>
    </table>
</div>
