@{
    ViewData["Title"] = "Welcome!";
}

@model IEnumerable<string>

<!DOCTYPE html>

<html>

<head>
    <title>Best Restaurants</title>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <header>

        <div class="text-center">
            <h2>Top 5 Restaurants in Provo</h2>
        </div>
       
        <img class="center" width="250" src="~/img/restaurant.jpg" />
    </header>

    <ul>
        @foreach (string i in Model)
        {
            <li>@i</li>
        }
    </ul>
</body>

</html>
